@use '../../../../styles/colors';

.wrapper {
  height: 38px;
  width: 100%;

  line-height: 38px;
  text-align: center;
  color: colors.$primary;
  font-size: 12px;

  border-radius: 28px;
  border: 1px solid colors.$primary;
  background-color: white;

  cursor: pointer;

  &.selected{
    border: white;
    color: white;
    background-color: colors.$primary;
  }

  .icon{
    margin: 0 15px;
    height: 14px;
  }
}