@use '../../../styles/colors';

.container {
  width: 273px;
  height: 1080px;
  border: 1px solid #fcba03;
  padding: 9px;
  font-size: 32px;

  .logo {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 251px;
    height: 88px;
    background: colors.$background-color;
    font-size: 64px;
    cursor: pointer;
  }

  .userProfile {
    width: 251px;
    height: 300px;
    margin-top: 10px;
    border: 1px dotted #4287f5;
    display: flex;
    flex-direction: column;
    align-items: center;

    .profileImage {
      width: 62px;
      height: 62px;
      border-radius: 50%;
      margin: 30px;
      background: colors.$background-color;
    }
    .toUser{
      margin-top:32px;
    }
  }

  .navigator {
    margin-top: 10px;

    .community li {
      margin-left: 30px;
      .communityLink{
        &:hover {
          color:gray;
          text-decoration: underline;
        }
      }
    }
  }
}
