@use "./styles/reset";
@use "./styles/colors";

.container {
  position: relative;
  height: 24px;
  width: 100%;
}

.InputText {
  @include reset.input-text;
  position: absolute;
  font-size: 12px;
  line-height: 24px;
  padding: 0 9px 0 9px;
}

.InputBox {
  @include reset.reset-input;
  height: 24px;
  width: 100%;
  padding-left: 70px;
  background-color: #ffffff;
  border-radius: 3px;
  font-size: 12px;

  &:focus {
    border: 1px solid colors.$point;
  }
}
