.Home {
  //sizing & position
  width: 100vw;
  position: relative;
  z-index: 0;
  //content
  padding: 72px 0;
  //styling
  background: url("/images/home_background.png") repeat;
  .container {
    width: 1130px;
    margin: auto;
    text-align: center;
  }
}
