/* general */
$primary: #5b5b5b;
$background: #c4c4c4;

/* color */
$darkgray: #5b5b5b;
$lightgray: #e7e7e7;
$gray: #7e7e7e;
$mediumgray: #d9d9d9;

/* for text */
$text-darkgray: #5b5b5b;
$text-light: #fdfdfd;

/* ui-color */
$black: #5b5b5b;
$semi-black: #7e7e7e;
$point: #3f8ae2;
$semi-point: #7ab7ef;
